@import '../../assets/variables';

.current-main-weather {
  display: flex;
  align-items: center;
  height: 100%;


  &-info {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: $mainLight;
    font-weight: bold;
    font-size: 18px;

    &_degree {
      font-size: 64px;
    }
  }

  &-icon {
    margin-left: 30px;
    font-size: 120px;
    height: 120px;
    color: #e1ba1f;
  }

}