@import '../../assets/variables';

.other-time-weather {
  height: 110px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  color: $mainLight;
  align-items: center;

  &-text {
    font-size: 12px;
    width: 85px;
    text-align: center;
  }

  &_icon {
    color: #e1ba1f;
    height: 50px;
    font-size: 36px;
  }
}