@import '../../assets/variables';

.current-additional-weather {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-left: 30px;

  @media screen and (max-width: 576px) {
    margin-left: 0px;
  }

  &-list {
    min-width: 165px;
    font-size: 12px;
    color: $mainLight;
    display: flex;

    &_name {
      min-width: 90px;
    }
  }
}