@import '../../assets/variables';

.current-additional-weather {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  margin-left: 30px;

  &-list {
    font-size: 12px;
    color: $mainLight;
    display: flex;

    &_name {
      width: 90px;
    }
  }
}