@import '../../assets/variables';

.today-weather {
  width: 100%;
  min-height: 150px;
  background-color: $mainBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &-current {
    height: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      border-bottom: 1px solid $mainLight;
    }
    @media screen and (max-width: 576px) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
      justify-content: center;
    }
  
  }

  &-other-time {
    width: auto;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
     justify-content: center;
    }
  }
}