@import '../../assets/variables';

.today-weather {
  width: 100%;
  min-height: 150px;
  background-color: $mainBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;

  &-current {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-other-time {
    width: 50%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
  }
}