@import '../../assets/variables';

.other-days-weathers {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  width: 100%;
  background-color: $mainBackgroundColor;
  
  .container {
    justify-content: space-between;
  }
}